.edit-add-btn{
  margin-left: 80%;
  display: flex;
  gap:10px;
  }

.edit_delete_btn{
  display:flex;
  gap:10px;
  }
.body{
  font-family: Georgia, serif;
  }
.text-center{
  font-size:40px;
  color: #280f6a;
  }
.table-responsive{
  margin-top:40px;
  }





